<div style="padding:10px">
  <div class="row">
    <div class="col s6 left-align">
      <a href="/lessons/<%= @lesson.previous_id %>"><i class="small material-icons">skip_previous</i></a>
    </div>
    <div class="col s6 right-align">
      <a href="/lessons/<%= @lesson.next_id %>"><i class="small material-icons">skip_next</i></a>
    </div>
  </div>
  <div class="col s10">
    <div class="progress">
      <div class="determinate" style="width: <%= Lesson.progress(@lesson.id) %>%"></div>
    </div>
  </div>
</div>

<p>LESSON <%= @lesson.id %></p>
<h3 class="lesson-title"><%= @lesson.title %></h3>
<p>
  <%= @lesson.text %>
</p>

<% if @lesson.examples %>
  <h5>Examples</h5>
  <% @lesson.examples.each do |example| %>
    <blockquote class="code">
      <%= example %>
    </blockquote>
  <% end %>
<% end%>

<% if @lesson.images %>
  <% @lesson.images.each do |image| %>
    <div class="photo-container">
      <img src="/images/<%= image %>" alt="spreadsheet screenshot">
    </div>
  <% end %>
<% end %>

<% if @lesson.tasks %>
  <h5>Your Turn</h5>
  <%= @lesson.task_instructions %>
    <ul class="collapsible" data-collapsible="accordion">
    <% @lesson.tasks.each_with_index do |task, i| %>
    <li>
      <div class="collapsible-header" style="line-height: 1.5;padding: 15px;"><b><%= i+1 %></b>. <%= task["question"] %></div>
      <div class="collapsible-body white code" style="padding: 10px">
        <b><%= task["answer"] %></b>
      </div>
    </li>
    <% end %>
  </ul>
  <%= erb :_schema %>
  <%= erb :_terminal %>
  <%= erb :_results_message %>
  <%= erb :_results_table %>
<% end%>